{% extends "network/layout.html" %}

{% block body %}
<div id="body">
<h1 style="font-family:fantasy">Following</h1>

        {% for post in page_obj %}
        <div class="allPosts">
            <h6 class="content" id="content_{{ post.id }}">{{ post.content }}</h6>
            <br>
            <h5 class="username"><a style="color: red; font-weight: bold; font-family:cursive" href="{% url 'profile' user_id=post.user.id %}">#{{ post.user }}</a></h5>
            <p class="date">on {{ post.date }}</p>
        </div>
        {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">

            {% if page_obj.has_previous %}

                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>

                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>

            {% endif %}

                <li class="page-item"><a href="" class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a></li>

            {% if page_obj.has_next %}

                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>

                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>

            {% endif %}
        </ul>
      </nav>
</div>

{% endblock %}