{% extends "network/layout.html" %}

{% block body %}
<div id="body">
    <h1 style="font-family:fantasy">Login</h1>
<br>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username" style="width: 400px;" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" style="width: 400px;" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
</div>
{% endblock %}